:root{
    --pink1: #fdd1d9;
    --pink2: #fbe3e7;
    --hotpink1:#ff7be5;
    --hotpink2:#f500c4;
}

html {
    /* 
    can't quite get this to work right 
    with the bottom border at the bottom edge of the viewport
    
    apparently it's tricky? 
    https://css-tricks.com/body-border/
    */

    height: calc(100%);
    background-color: white;

}

body {
    min-height: calc(100% - 190px);

    background-color: var(--pink2);
    border: 20px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 150px;
    align-items: center;

    text-align: center;

    margin: 0px;
    
}

.buttons img {
    width: 70px;
    margin: 15px;
    border-radius: 50%;
    padding: 10px;
    background-color: var(--pink1);
}

.buttons img:hover {
    background-color: var(--hotpink1);
}

.buttons img:active {
    background-color:var(--hotpink2);
}

.credits {
}